# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.userprefs
*.unityproj
*.tmproj
*.pdb
*.mdb

# OS / IDE
.DS_Store
Thumbs.db
.idea/
*.iml

# Crash/Profiler
*.stacktrace
*.dmp

# Rider/VSCode
.vscode/
